.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url("../img/bg-hero.svg") no-repeat;
  background-size: 100%;
  padding-top: 17.5rem;
  .container {
    @include flex(row, space-between, start);
  }
  .text {
    width: 100;
    max-width: 68.4rem;
    h3 {
      color: #ffffff;
      opacity: 0.8;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: #fff;
      margin-bottom: 3.9rem;
    }

    button {
      margin-bottom: 6.4rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      @include flex(row, space-between, center);
      li {
        @include flex(row, space-between, center);
        gap: 1.2rem;

        .icon {
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 50%;
          @include flex(row, center, center);
          background: linear-gradient(
            180deg,
            rgba(#35cae2, 0.4),
            rgba(53, 202, 226, 0)
          );
        }

        span {
          color: #fff;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      text-align: center;
      margin-bottom: 6.7rem;
      color: #ffffff;
      opacity: 0.4;
      font-weight: 600;
    }

    .image {
      width: 100%;
      height: 54.1rem;
      position: relative;
      img {
        position: absolute;
      }

      .card-circle {
        bottom: 0;
        right: 0;
      }

      .card-back {
        bottom: 1.4rem;
        right: 4.3rem;
      }
      .card-front {
        left: 5.1rem;
        top: 5.2rem;
      }
    }
  }
}

.s-card-neon {
  margin-top: 12.9rem;

  .container {
    @include flex(row, space-between, start);
  }

  .left {
    width: 100%;
    max-width: 27.7rem;
    text-align: center;
    position: relative;

    img {
      max-width: 37.7rem;
    }

    .mockup-container {
      width: 100%;
      max-width: 48.3rem;

      .circle {
        position: absolute;
        top: 8.7rem;
        left: -21.4rem;
        z-index: -1;
      }

      .mockup {
        margin-bottom: 12.9rem;
      }
    }

    .text {
      @include flex(column, space-between, center);

      .app-icon {
        margin-bottom: 3.1rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 0.5rem;
          height: 8.3rem;
          background: url("../img/points.svg");
          top: calc(-8.3rem + -2.1rem);
        }
      }

      p {
        margin-bottom: 2.6rem;
      }

      .apple {
        margin-bottom: 1.3rem;
      }
    }
  }

  .right {
    width: 100%;
    max-width: 80rem;
    @include flex(column, space-between, start);

    .top {
      @include flex(column, space-between, start);
      gap: 4.9rem;

      h2 {
        width: 100%;
        max-width: 48.8rem;
      }

      ul {
        @include flex(column, space-between, start);
        li {
          .info {
            width: 100%;
            max-width: 53.7rem;
          }
          width: 100%;
          @include flex(row, space-between, center);
          gap: 4.3rem;
          padding-top: 3.7rem;
          padding-bottom: 2.9rem;
          border-bottom: 1px solid rgba(#e1e0e7, 0.4);
        }
      }

      a {
        color: $brand-blue;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 112%;
        letter-spacing: -0.5px;
        transition: color 0.3s ease-out;
        &:hover {
          color: $brand-yellow;
        }
      }
    }

    .down {
      width: 100%;
      max-width: 88.6rem;
      position: relative;
      margin-top: 10.5rem;

      .down-info {
        position: absolute;
        top: 6.7rem;
        left: 5.9rem;
        @include flex(row, space-between, center);
        gap: 2.9rem;

        .text {
          width: 100%;
          max-width: 38rem;
          padding-bottom: 5.9rem;

          h2 {
            font-weight: 600;
            line-height: 6rem;
            letter-spacing: -0.2rem;
            color: #ffffff;
            margin-bottom: 1.1rem;
          }

          h3 {
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 120%;
            letter-spacing: -1px;
            color: #ffffff;
            margin-bottom: 1.1rem;
          }

          p {
            width: 100%;
            max-width: 32.7rem;
            font-weight: 400;
            font-size: 17px;
            line-height: 140%;
            color: #ffffff;
            margin-bottom: 1.1rem;
          }

          button {
            padding: 1.6rem 4rem;
          }
        }

        .image {
          position: relative;
          right: -2.5rem;
          top: -2.5rem;
        }
      }
    }
  }
}

.s-depoimentos {
  width: 100%;
  padding-top: 13.4em;
  padding-bottom: 4rem;
  .top {
    width: 100%;
    height: 10rem;
    margin-bottom: 4rem;
    @include flex(row, space-between, center);

    span {
      display: block;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 4rem;
      letter-spacing: -1px;
      color: #c6c5ce;
      opacity: 0.8;
      margin-bottom: 1.4rem;
    }
  }

  .depoimentos-slide {
    // overflow: hidden;

    .swiper-pagination-bullet {
      background: rgba(#ffc800, 1);
      border-radius: 12px;
      transition: all 0.5s ease-out;
      &-active {
        background: #ffc800;
        border-radius: 12px;
        width: 1.7rem;
      }
    }
  }
}

.s-digital-acc {
  width: 100%;
  padding-top: 12.7rem;
  padding-bottom: 8.5rem;

  .container {
    @include flex(row, space-between, start);
  }

  .info {
    width: 100%;
    max-width: 54.2rem;
    @include flex(column, space-between, start);

    span {
      display: block;
      font-weight: 600;
      font-size: 4rem;
      line-height: 112%;
      letter-spacing: -1px;
      color: $grey-200;
      opacity: 0.8;
    }

    h2 {
      margin-bottom: 4.5rem;
    }

    ul {
      @include flex(column, space-between, start);
      gap: 3.7rem;
      margin-bottom: 5rem;
      li {
        @include flex(row, space-between, start);
        gap: 2.6rem;

        h3 {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 2rem;
          line-height: 112%;
          letter-spacing: -0.5px;
          color: $grey-400;
        }

        p {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 150%;
          color: $grey-300;
        }

        .icon {
          width: 4.5rem;
          height: 4.5rem;
          @include flex(row, center, center);
          background: $brand-green-light;
          border-radius: 0.8rem;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 71.1rem;
    height: 59.8rem;
    position: relative;
    margin-right: -160px;

    img {
      position: absolute;
    }
    .circle {
      bottom: 0;
      right: 0;
    }

    .mockup1 {
      bottom: 4.7rem;
    }
    .mockup2 {
      top: 0;
      right: 23.3rem;
    }
  }
}

footer {
  background-color: $brand-blue;
  .container {
    border-bottom: 0.4rem solid $brand-yellow;
  }

  .top {
    padding: 4.9rem 0;
    @include flex(row, space-between, center);
    border-bottom: 1px solid rgba(#fff, 0.2);

    .socials {
      width: 100%;
      max-width: 37.9rem;
      @include flex(row, space-between, center);
      h4 {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 125%;
        text-align: right;
        color: #ffffff;
        opacity: 0.7;
      }

      ul {
        width: 100%;
        max-width: 20rem;
        @include flex(row, space-between, center);

        img {
          transition: opacity 0.3s;
          padding: 1rem 0.5rem;
        }
        img:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .bottom {
    padding-top: 5.7rem;
    padding-bottom: 6.2rem;
    border-bottom: 1px solid rgba(#fff, 0.2);

    .links {
      @include flex(row, space-between, start);
      gap: 5.5rem;

      h4 {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 125%;
        color: #ffffff;
      }
      .column,
      ul {
        @include flex(column, space-between, start);
        gap: 2.5rem;

        li {
          a {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 17px;
            color: #ffffff;
            opacity: 0.7;
            transition: color 0.3s;
            padding: 0.5rem 0;
            &:hover {
              color: $brand-yellow;
            }
          }
        }

        .contact-us {
          @include flex(column, space-between, start);
          gap: 2.4rem;
          .item {
            width: 100%;
            @include flex(row, start, center);
            gap: 2.4rem;
            background-color: rgba(#00a5f0, 0.4);
            padding: 2rem;
            border-radius: 0.6rem;
            p {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .end-message {
    width: 100%;
    max-width: 70rem;
    padding: 3.7rem 0;
    @include flex(row, start, start);
    gap: 2.5rem;

    p {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150%;
      color: #ffffff;
      opacity: 0.8;
    }
  }
}
